<!DOCTYPE html>
<html lang="en">

<head>
  <title>Car Details</title>
  <link rel="icon" href="https://pngwebicons.com/uploads/car/ico/car_icon3898.ico" />
  <meta name="robots" content="noindex">


  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="/main.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body class="container shadow">

  <header class="site-header py-3 my-3 align-top border-bottom">
    <nav class="navbar navbar-expand-lg bg-inverse font-weight-bold">
      <a class="navbar-brand" href="/welcome">
        <h1 class="mt-4">Home</h1>
      </a>

      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
        data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars fa-lg" style="font-size: 30px;"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarToggle">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

          <!-- <li class="nav-item">
        <a class="nav-link" href="/regcar">Add new Car</a>
      </li> -->

          <li class="nav-item">
            <a class="nav-link" href="/reserve">Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">
              <i class="text-primary fa fa-user-circle fa-lg"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users/logout">
              <i class="text-primary fa fa-sign-out fa-lg"></i>
            </a>
          </li>

          <!-----------------------------Search Bar---------------------------->
          <form class="navbar-forml form-inline" action="/find" method="GET">
            <div class="input-group">
              <input id="vname" type="search" name="vname" class="form-control" placeholder="Search a Car" required=""
                autofocus="">
              <div class="input-group-addon" style="margin-left: 10px;">
                <button class="btn btn-outline-primary" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          <!------------------------------------------------------------------->


        </ul>
      </div>
    </nav>
  </header>
  <main class="container" role="main" style="height: 338.86px;">
    <div class="row car_container">

      <div class="col">
        <img id="imgZoom" class="img-fluid pb-5" loading="lazy" src="/uploads/<%= records1.imagename %>" alt="image"
          style="opacity: 1;">
        <div id="preview" style="  background-position: -420px -62px;"></div>
        <input id="hidden" type="hidden">

        <form class="py-3 row" action="/reserve/<%= records1._id %>" method="post">

          <div class="form-group">
            <label>Date Out:
              <input id="dateIn" class="mx-auto col date form-control" type="date" name="dateIn" required=""
                min="2020-12-04">
            </label>

            <label>Date In:
              <input id="dateOut" class="mx-auto col date form-control" type="date" name="dateOut" readonly=""
                required="" min="2020-12-04">
            </label>
          </div>

          <div class="form-group form-inline">
            <span id="spMin" class="font-weight-bold text-primary mr-3">1J</span>
            <input id="days" class="col custom-range" type="range" name="days" min="1" max="60" value="1" required>
            <em class="col text-center">Total (TND):</em>
            <input id="price" type="hidden" value="<%= records1.price %>">
            <input id="numbers" class="form-control" size="3" name="numbers" value="<%= records1.price %>" readonly="">
          </div>

          <label>Payment Method:
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">

              <label class="form-check-label" for="inlineCheckbox1">Cash</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label" for="inlineCheckbox2">By Card</label>
            </div>
            <script type="text/javascript">
              $('.form-check-input').click('change', function () {
                $(this).siblings('input:checkbox').prop('checked', false);
              });
            </script>

        </form>

        <input type="submit" class="mx-1 mt-3 btn btn-outline-primary form-control" value="Book">
      </div>

      <div id="car_info" class="col-md-8 text-left card">
        <div class="model">
          <strong> <i><%= records1.vname %> </i> </strong><%= records1.vmodel %>
        </div>
        <hr>
        <div class="color">
          Color: <%= records1.color %>
        </div>
        <div class="trans">
          Transmission: <%= records1.trans %>
        </div>
        <div class="engine">
          Engine: <%= records1.engine %>
        </div>
        <div class="price">
          Price: <%= records1.price %>
          <em>TND / Day </em>
        </div>
        <div class="year">
          Production Year: <%= records1.pyear %>
        </div>

        <hr>
        <!-- <div class="details text-justify"> -->
        <div class="owner">Owner Information:<br></div>
        <div class="address">Address : <%= records1.address %><br></div>
        <div class="phone">Phone Number : <%= records1.phoneno %></div>

      </div>
    </div>
    </div>


  </main>

  <footer class="page-footer align-bottom py-3 my-3 border-top">
    <ul class="row text-center list-unstyled mt-2 list-inline">
      <li class="col list-inline-item">
        <a href="/policy">Policy</a>
      </li>

      <li class="col list-inline-item">
        <a href="/contact">Contact</a>
      </li>

      <li class="col list-inline-item">
        <a href="/terms-of-use">Terms of use</a>
      </li>
    </ul>

    <div class="footer-copyright pb-3 text-center">
      <strong>! Karhebti Tunisia !</strong> <br /> © 2021. All rights reserved.
    </div>
  </footer>


  <!-- jQuery, Popper and Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <script src="/js/main.js"></script>

</body>

</html>